{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Summary</title>
</head>
<body>
A;{{existing_order}}


  {% for x in one_order %}
        <h3>{{ x.ref_code }}</h3>
        <h3>{{ x.username }}</h3>
        {% for x in existing_order.get_cart_items %}
        {{x}}
        {% endfor %}
        <h3> Total: {{existing_order.get_cart_total}}
        <h3>{{ x.date_ordered }}</h3>
        <h3>{{ x.is_ordered }}</h3>
  {% endfor %}


  {% for z in my_items %}
  <h3>{{ z.product.name }}</h3>
  <h3>{{ z.product.price }}</h3>
  {% endfor %}

</body>
</html>
{% endblock %}
